.about{
    padding-top: 10%;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin-bottom: 50px;
}

.about-text{
    width: 90%;
    text-align: justify;
   
}

.about-text h1{
    letter-spacing: .3em;
}

.about-img img{
    width: 300px;
    
}

@media(max-width:430px){
    .about{
        grid-template-columns: 1fr;
    }
}