.contact{
    background: url('../images/contact-bg.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
}
.contact-box{
    margin: 15% 0;
    max-width: 530px;
    min-height:80vh;
    background-color: rgba(0, 0, 0, 0.541);
    color: #fff;
}

.contact-box form{
   
    padding: 10px;
}

.contact-box p{
    margin-bottom: 10px;
    opacity: 0.8;
}

form textarea{
    width: 90%;
    height: 150px;
    border-radius: 3%;
    margin-top: 5px;
}

.mail-name{
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type=text],input[type=email],input[type=button]{
    padding: 10px 30px;
    border: none;
    border-radius:3px ;
    margin-top:5px ;
}
input[type=submit]{
    float: right;
    margin: 10%;
    font-size: 16px;
    padding: 8px 25px;
    font-weight: 500;
    border: none;
    border-radius: 5%;
}

input[type=submit]:hover{
    cursor: pointer;
    opacity: 0.9;
}

.form-group{
    margin-top: 20px;
}
.intro{
    width: 95%;
}

.see-more{
    background-color: rgb(11, 137, 255) !important;
}
.social input[type=text]{

    border-right: 14px solid  rgb(11, 137, 255) ;
}



@media(max-width:430px){
    input[type=submit]{
        float: left;
        margin: 20px 0 ;
        font-size: 16px;
        padding: 8px 25px;
        font-weight: 500;
    }

    form textarea{
        width: 80%;
    }
    
}