.order{
    background: url('../images/joshua-coleman-JfHRmaUP0z8-unsplash.jpg') center  no-repeat;
    background-size: cover;
    height: 120vh;
    padding: 15% 0;    
}
.order-box{
    margin: 0 auto;
    width: 530px;
    height:95vh;
    background-color: rgba(0, 0, 0, 0.692);
    color: #fff;
}

.contact-box form{
    padding: 10px;
}

.contact-box p{
    margin-bottom: 10px;
    opacity: 0.8;
}

form textarea{
    width: 90%;
    height: 150px;
    border-radius: 3%;
    margin-top: 5px;
}

.mail-name{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

input[type=text],input[type=email]{
    padding: 10px 10px !important;
    border: none;
    border-radius:3px ;
    margin-top:5px ;
    margin-bottom: 10px;
    width: 60%;
}
select, option{
    width: 50%;
    padding: 10px;
    border:none;
    border-radius: 5px 5px 0 0;
}

input[type=submit]{
    width: 30%;
    border: none;
    border-radius: 3%;
    margin-top: 50px;
    font-size: 16px;
    padding: 8px 25px;
    border-right: 14px solid rgb(128, 206, 4) ;
}

form{
    padding: 20px;
}
.form-group{
    margin-top: 20px;
}

.social input{
    width: 20%;
}

.price{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.see-more{
    background-color: rgb(128, 206, 4) !important;
}

.social input[type=text]{
    border-right: 14px solid rgb(128, 206, 4) ;
}

@media(max-width:770px){

    .order-box{
        margin: 0 auto;
            width: 100%;
         height:100vh;
         background-color: rgba(0, 0, 0, 0.692);
         color: #fff;
     }
     
     .social input{
        width: 40%;
    }
}